@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #9333ea;
  --font-sans: 'Inter', sans-serif;
}

body {
    @apply bg-gray-900 text-white;
}

.glass-panel {
    @apply bg-white/10 backdrop-blur-md border border-white/10;
}
